@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #5fc56a;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
  border: none;
}

/* =====HEADER===== */
.header .container {
  position: absolute;
  top: 0;
  left: calc((100% - 1440px) / 2);
  z-index: 5;
  /* padding: 38px 30px 38px 21px; */
  padding-top: 38px;
  /* padding-bottom: 38px; */

  display: flex;
  align-items: center;
  gap: 56px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.logo_link {
  padding-left: 21px;
}

.logo_img {
}

.header_nav {
  padding-left: 86px;
}

.nav_list {
  width: 704px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_item {
}

.nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #c8bfbf;
}

.header_btn {
  border-radius: 50px;
  width: 266px;
  height: 67px;

  background: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: #faab34;
}

/* =====HERO===== */

.hero .container {
  position: relative;

  padding-top: 300px;
  height: 650px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.hero_pretitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 135%;
  color: #fff;
  text-align: center;

  margin-bottom: 50px;
}

.hero_title {
  padding-bottom: 87px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 135px;
  line-height: 80%;
  color: #fff;
  text-align: center;
}

.hero_ellipse_img {
  position: absolute;
  left: 466px;
  bottom: 130px;

  width: 583px;
}

/* =====APP INFO===== */

.APP_info .container {
  padding-top: 280px;
  padding-bottom: 367px;
  width: 1440px;

  background: linear-gradient(180deg, #017e0d 0%, #309600 100%);

  position: relative;
}

.iphone_img {
  position: absolute;
  top: 164px;
  left: 30px;
}

.discont_burger_img {
  position: absolute;
  top: 610px;
  left: 454px;
}

.app_discont {
  margin-left: 671px;
  width: 739px;
}

.app_discont_title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 93px;
  text-align: right;
  color: #fff;

  margin-bottom: 13px;
}

.app_discont_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  color: #fff;

  margin-bottom: 103px;
}

.app_connect {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app_link {
}

.google_play_store_img,
.IOS_app_store_img {
  height: 101px;
}

/* =====FOOTER===== */

.footer .container {
  padding-top: 33px;
  padding-bottom: 39px;
}

.footer_wrap1,
.footer_wrap2 {
  margin-left: 30px;
  margin-right: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_nav {
}

.footer_nav_list {
  display: flex;
  gap: 28px;
}

.footer_nav_item {
}

.footer_nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #414141;
}

.social {
  display: flex;
  gap: 10px;
}

.social_item {
}

.social_item_link {
}

.footer_line {
  width: 1367px;
  height: 0;
  border: 1px solid #000;

  margin-right: auto;
  margin-left: auto;
  margin-top: 59px;
  margin-bottom: 48px;
}

.footer_wrap2 {
}

.footer_copyright {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #414141;
}

.footer_view {
  p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #414141;
    text-decoration: underline;
  }
}
