@import "style.css";

/* =====PASSION===== */

.passion .container {
  width: 1440px;
  height: 1385px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)),
    image-set(
      url("../images/img/passion_about_bg.avif") type("image/avif"),
      url("../images/img/passion_about_bg.webp") type("image/webp"),
      url("../images/img/passion_about_bg.png") type("image/.png")
    );

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 61px;
  box-sizing: border-box;
}

.passion_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 100px;
  line-height: 108%;
  text-align: center;
  color: #fff;

  margin-top: 60px;
  margin-bottom: 76px;
  width: 1058px;
}

.passion_text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #fff;

  margin-bottom: 60px;
  width: 1145px;
}

.passion_post_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #fff;

  width: 1145px;
}

/* =====WHY ME===== */

.why_me .container {
  background: #faab34;

  height: 437px;

  position: relative;
}

.why_list {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  gap: 44px;
}

.why_item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 353px;
}

.why_item_img {
  margin-bottom: 40px;
}

.why_item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #fff;

  height: 85px;
}

.why_item_disc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #fff;
}

/* =====APP INFO===== */

.APP_info .container {
  padding-top: 280px;
  padding-bottom: 367px;
  width: 1440px;

  background: linear-gradient(180deg, #017e0d 0%, #309600 100%);

  position: relative;
}

.iphone_img {
  position: absolute;
  top: 164px;
  left: 30px;
}

.discont_burger_img {
  position: absolute;
  top: 610px;
  left: 454px;
}

.app_discont {
  margin-left: 671px;
  width: 739px;
}

.app_discont_title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 93px;
  text-align: right;
  color: #fff;

  margin-bottom: 13px;
}

.app_discont_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  color: #fff;

  margin-bottom: 103px;
}

.app_connect {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app_link {
}

.google_play_store_img,
.IOS_app_store_img {
  height: 101px;
}


