@import 'style.css';


/* ======STARTED===== */

.started .container {
  background-color: #fff;

  padding-top: 106px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.started_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 92%;
  text-align: center;
  color: #4d4d4d;

  margin-bottom: 50px;
}

.started_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 163%;
  text-align: center;
  color: #414141;

  width: 1145px;
  padding-bottom: 20px;
}

.started_list {
  background-color: #e5e5e5;

  display: flex;
  gap: 30px;
  justify-content: center;

  width: 1440px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.started_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.started1_img,
.started2_img {
  margin-bottom: 36px;
}

.started_item_btn {
  border-radius: 50px;
  padding: 22px 40px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  color: #faab34;
}

/* =====PASSION===== */

.passion .container {
  width: 1440px;
  height: 1135px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)),
    image-set(
      url("../images/img/passion_bg.avif") type("image/avif"),
      url("../images/img/passion_bg.webp") type("image/webp"),
      url("../images/img/passion_bg.png") type("image/.png")
    );

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 61px;
}

.passion_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 100px;
  line-height: 108%;
  text-align: center;
  color: #fff;

  margin-top: 60px;
  margin-bottom: 86px;
  width: 1058px;
}

.passion_text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #fff;

  margin-bottom: 131px;
  width: 1145px;
}

.passion_btn {
  border-radius: 50px;
  padding: 22px 40px;
  width: 274px;
  height: 88px;

  background-color: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  color: #faab34;
}

/* =====REST===== */

.rest .container {
  padding-top: 100px;
  padding-bottom: 39px;

  background-color: #e5e5e5;
}

.rest_list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.rest_item {
  width: 438px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rest1,
.rest2,
.rest3 {
  margin-bottom: 43px;
}

.rest_item_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #000;

  margin-bottom: 45px;
}

.rest_item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #000;

  margin-bottom: 62px;
}

.rest_item_btn {
  border-radius: 50px;
  padding: 8px 66px;

  background: #017e0d;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
}

/* =====ABOUT===== */

.about .container {
background-color: #fff;
  
  position: relative;

  padding-top: 68px;
  padding-bottom: 177px;
}

.about_title {
  font-family: var(--font-family);
font-weight: 400;
font-size: 100px;
line-height: 92%;
text-align: center;
color: #4d4d4d;

margin-bottom: 182px;
}

.about_line1, .about_line2 {
  position: absolute;
  top: 231px;
  left: 50%;
  transform: translateX(-50%);
}




.about_list {
  display: flex;
  gap: 127px;
  justify-content: center;
}

.about_item {
  width: 627px;
}

.about_item_title {
  font-family: var(--font-family);
font-weight: 400;
font-size: 100px;
line-height: 92%;
text-align: center;
color: #faab34;

margin-bottom: 37px;
}

.about_item_text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
line-height: 160%;
color: #000;
}


