@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #5fc56a;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
  border: none;
}

/* =====HEADER===== */
.header .container {
  position: absolute;
  top: 0;
  left: calc((100% - 1440px) / 2);
  z-index: 5;
  /* padding: 38px 30px 38px 21px; */
  padding-top: 38px;
  /* padding-bottom: 38px; */

  display: flex;
  align-items: center;
  gap: 56px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.logo_link {
  padding-left: 21px;
}

.logo_img {
}

.header_nav {
  padding-left: 86px;
}

.nav_list {
  width: 704px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_item {
}

.nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #c8bfbf;
}

.header_btn {
  border-radius: 50px;
  width: 266px;
  height: 67px;

  background: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: #faab34;
}

/* =====HERO===== */

.hero .container {
  position: relative;

  /* padding-bottom: 200px; */
  padding-top: 300px;
  height: 650px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.hero_pretitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 135%;
  color: #fff;
  text-align: center;

  margin-bottom: 50px;
}

.hero_title {
  padding-bottom: 87px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 135px;
  line-height: 80%;
  color: #fff;
  text-align: center;
}

.hero_ellipse_img {
  position: absolute;
  left: 466px;
  bottom: 130px;

  width: 583px;
}

/* ======STARTED===== */

.started .container {
  background-color: #fff;

  padding-top: 106px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.started_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 92%;
  text-align: center;
  color: #4d4d4d;

  margin-bottom: 50px;
}

.started_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 163%;
  text-align: center;
  color: #414141;

  width: 1145px;
  padding-bottom: 20px;
}

.started_list {
  background-color: #e5e5e5;

  display: flex;
  gap: 30px;
  justify-content: center;

  width: 1440px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.started_item {display: flex;
  flex-direction: column;
  align-items: center;
}

.started1_img, .started2_img {
  margin-bottom: 36px;
}

.started_item_btn {
  border-radius: 50px;
padding: 22px 40px;

box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: #fff;

font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 122%;
color: #faab34;
}

/* =====PASSION===== */

.passion .container {
   width: 1440px;
  height: 1135px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)),
    image-set(
      url("../images/img/passion_bg.avif") type("image/avif"),
      url("../images/img/passion_bg.webp") type("image/webp"),
      url("../images/img/passion_bg.png") type("image/.png")
    );

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 61px;
}

.passion_title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 100px;
line-height: 108%;
text-align: center;
color: #fff;

margin-top: 60px;
margin-bottom: 86px;
width: 1058px;
}

.passion_text {
  font-family: var(--font-family);
font-weight: 600;
font-size: 50px;
line-height: 120%;
text-align: center;
color: #fff;

margin-bottom: 131px;
width: 1145px;
}

.passion_btn {
  border-radius: 50px;
padding: 22px 40px;
width: 274px;
height: 88px;

background-color: #fff;

font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 122%;
color: #faab34;

}

/* =====FOOTER===== */

.footer .container {
  padding-top: 33px;
  padding-bottom: 39px;
}

.footer_wrap1,
.footer_wrap2 {
  margin-left: 30px;
  margin-right: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_nav {
}

.footer_nav_list {
  display: flex;
  gap: 28px;
}

.footer_nav_item {
}

.footer_nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #414141;
}

.social {
  display: flex;
  gap: 10px;
}

.social_item {
}

.social_item_link {
}

.footer_line {
  width: 1367px;
  height: 0;
  border: 1px solid #000;

  margin-right: auto;
  margin-left: auto;
  margin-top: 59px;
  margin-bottom: 48px;
}

.footer_wrap2 {
}

.footer_copyright {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #414141;
}

.footer_view {
  p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #414141;
    text-decoration: underline;
  }
}
