@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
}

/* =====HEADER===== */
.header .container {
  padding: 38px 30px 38px 21px;

  display: flex;
  align-items: center;
  gap: 56px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.logo_link {
}

.logo_img {
}

.header_nav {
  padding-left: 86px;
}

.nav_list {
  width: 704px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_item {
}

.nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #c8bfbf;
}

.header_btn {
  border-radius: 50px;
  width: 266px;
  height: 67px;
  border: none;

  background: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: #faab34;
}

/* =====HERO===== */

.hero .container {
  position: relative;

  padding: 74px 30px 97px 21px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.hero_price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 35px;
  color: #fff;

  margin-bottom: 20px;
}

.hero_title {
  width: 460px;
  padding-bottom: 87px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 135px;
  line-height: 80%;
  color: #fff;
}

.hero_discont {
  position: absolute;
  bottom: 253px;
  left: 30px;

  width: 218px;
  height: 218px;
  border-radius: 100%;

  background-color: #faab34;

  display: flex;
  justify-content: center;
  align-items: center;
}

.discont_text {
  padding-top: 30px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 100px;
  line-height: 47%;
  text-align: center;
  color: #fff;

  span {
    font-size: 32px;
  }
}

.hero_post_text {
  padding-left: 235px;
  width: 364px;

  font-family: var(--font-family);
font-weight: 700;
font-size: 47px;
line-height: 100%;
color: #fff;
}

.hero_btn {
}

.hero_img {
  position: absolute;
  bottom: 0;
  right: 0;
}
