:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}





body{
   background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
   
}

.container{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}