@import 'style.css';
 



/* ======DISCONT_MENU===== */

.discont_menu .container,
.discont_menu1 .container {
  display: flex;
}

.dicont_white {
  position: absolute;
  left: 30px;
  top: -28px;

  width: 218px;
  height: 218px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.discont_white_text {
  width: 125px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  line-height: 187%;
  text-align: center;
  color: #000;

  span {
    font-size: 70px;
  }
}

.dicont_orange {
  position: absolute;
  left: 88px;
  top: -28px;

  width: 218px;
  height: 218px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #faab34;
}

.discont_orange_text {
  width: 125px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  line-height: 187%;
  text-align: center;
  color: #fff;

  span {
    font-size: 70px;
  }
}

.dicont_green {
  position: absolute;
  top: -44px;
  left: 88px;

  width: 218px;
  height: 218px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #017e0d;
}

.discont_green_text {
  width: 125px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  line-height: 187%;
  text-align: center;
  color: #fff;

  span {
    font-size: 70px;
  }
}

.discont_menu_card1,
.discont_menu_card2,
.discont_menu_card3,
.discont_menu_card4,
.discont_menu_card5,
.discont_menu_card6 {
  position: relative;
}

.discont_menu_card1 {
  width: 735px;
  height: 1370px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url("../images/img/discont_card1.avif") type("image/avif"),
      url("../images/img/discont_card1.webp") type("image/webp"),
      url("../images/img/discont_card1.png") type("image/.png")
    );
}

.discont_menu_card6 {
  width: 735px;
  height: 1370px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url("../images/img/discont_card6.avif") type("image/avif"),
      url("../images/img/discont_card6.webp") type("image/webp"),
      url("../images/img/discont_card6.png") type("image/.png")
    );
}

.card1_info,
.card2_info,
.card3_info,
.card4_info,
.card5_info,
.card6_info {
  position: absolute;
  bottom: 60px;
  left: 30px;
}

.discont_card1_pretext,
.discont_card2_pretext,
.discont_card3_pretext,
.discont_card4_pretext,
.discont_card5_pretext,
.discont_card6_pretext {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 178%;
  color: #fff;
}

.discont_card1_title,
.discont_card2_title,
.discont_card3_title,
.discont_card4_title,
.discont_card5_title,
.discont_card6_title {
  width: 548px;
  margin-top: -23px;
  margin-bottom: 44px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 61px;
  line-height: 116%;
  color: #fff;
}

.discont_menu_card_btn {
  border-radius: 50px;
  padding: 8px 66px;
  width: 354px;
  height: 60px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #faab34;
}

.discont_menu_wrap {
}

.discont_menu_card2 {
  width: 705px;
  height: 685px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    image-set(
      url("../images/img/discont_card2.avif") type("image/avif"),
      url("../images/img/discont_card2.webp") type("image/webp"),
      url("../images/img/discont_card2.png") type("image/.png")
    );
}

.discont_menu_card4 {
  width: 705px;
  height: 685px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    image-set(
      url("../images/img/discont_card4.avif") type("image/avif"),
      url("../images/img/discont_card4.webp") type("image/webp"),
      url("../images/img/discont_card4.png") type("image/.png")
    );
}

.discont_menu_card2_img {
  /* background: rgba(0, 0, 0, 0.6); */
  /* filter: opacity(60%); */
}

.card2_info,
.card4_info {
  left: 81px;
  bottom: 93px;
}

.discont_card2_pretext,
.discont_card3_pretext,
.discont_card4_pretext,
.discont_card5_pretext {
  font-size: 30px;
}

.discont_card2_title,
.discont_card4_title {
  margin-top: -15px;
  margin-left: 7px;
}

.discont_menu_card3 {
  width: 705px;
  height: 685px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    image-set(
      url("../images/img/discont_card3.avif") type("image/avif"),
      url("../images/img/discont_card3.webp") type("image/webp"),
      url("../images/img/discont_card3.png") type("image/.png")
    );
}

.discont_menu_card5 {
  width: 705px;
  height: 685px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    image-set(
      url("../images/img/discont_card5.avif") type("image/avif"),
      url("../images/img/discont_card5.webp") type("image/webp"),
      url("../images/img/discont_card5.png") type("image/.png")
    );
}

.discont_menu_card3_img {
}

.card3_info,
.card5_info {
  left: 88px;
}

.discont_card3_pretext {
}

.discont_card3_title,
.discont_card5_title {
  margin-top: -15px;
}

/* =====APP INFO===== */

.APP_info .container {
  padding-top: 280px;
  padding-bottom: 367px;
  width: 1440px;

  background: linear-gradient(180deg, #017e0d 0%, #309600 100%);

  position: relative;
}

.iphone_img {
  position: absolute;
  top: 164px;
  left: 30px;
}

.discont_burger_img {
  position: absolute;
  top: 610px;
  left: 454px;
}

.app_discont {
  margin-left: 671px;
  width: 739px;
}

.app_discont_title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 93px;
  text-align: right;
  color: #fff;

  margin-bottom: 13px;
}

.app_discont_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  color: #fff;

  margin-bottom: 103px;
}

.app_connect {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app_link {
}

.google_play_store_img,
.IOS_app_store_img {
  height: 101px;
}

/* =====FOOTER===== */

.footer .container {
  padding-top: 33px;
  padding-bottom: 39px;
}

.footer_wrap1,
.footer_wrap2 {
  margin-left: 30px;
  margin-right: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_nav {
}

.footer_nav_list {
  display: flex;
  gap: 28px;
}

.footer_nav_item {
}

.footer_nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #414141;
}

.social {
  display: flex;
  gap: 10px;
}

.social_item {
}

.social_item_link {
}

.footer_line {
  width: 1367px;
  height: 0;
  border: 1px solid #000;

  margin-right: auto;
  margin-left: auto;
  margin-top: 59px;
  margin-bottom: 48px;
}

.footer_wrap2 {
}

.footer_copyright {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #414141;
}

.footer_view {
  p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #414141;
    text-decoration: underline;
  }
}
