@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #5fc56a;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
  border: none;
}

/* =====HEADER===== */
.header .container {
  position: absolute;
  top: 0;
  left: calc((100% - 1440px) / 2);
  z-index: 5;
  /* padding: 38px 30px 38px 21px; */
  padding-top: 38px;
  padding-bottom: 38px;

  display: flex;
  align-items: center;
  gap: 56px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.logo_link {
  padding-left: 21px;
}

.logo_img {
}

.header_nav {
  padding-left: 86px;
}

.nav_list {
  width: 704px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_item {
}

.nav_item_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: #c8bfbf;
}

.nav_item_link.active{
    color:#acf10b;
    font-weight: bold;
}

.header_btn {
  border-radius: 50px;
  width: 266px;
  height: 67px;

  background: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: #faab34;
}

/* =====HERO===== */

.hero .container {
  position: relative;

  /* padding-bottom: 200px; */
  padding-top: 300px;
  height: 650px;

  background: linear-gradient(180deg, #017e0d 0%, #017e0d 100%);
}

.hero_pretitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 135%;
  color: #fff;
  text-align: center;

  margin-bottom: 50px;
}

.hero_title {
  padding-bottom: 87px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 135px;
  line-height: 80%;
  color: #fff;
  text-align: center;
}

.hero_pretitle, .hero_title{
  position: relative;
  z-index: 5;

  text-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
}

.hero_ellipse_img {
  position: absolute;
  left: 50%;
  top:50%;
transform: translate(-50%,-30%);
  width:100%;
}
